.dropdown {
   position: relative;
   padding: 16px;
   margin: 16px;
   background-color: darkgreen;
   opacity: 0.8;
   color: white;
   font-size: 16px;
   display: inline-block;
   cursor: pointer;
}
.dropdown:hover {
   opacity: 1;
}

.menu-list {
   position: absolute;
   top: 50px;
   left: 0px;
   color: black;
   margin: 0;
   padding: 0;
   background-color: lightcyan;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   min-width: 120px;
   z-index: 1;
   list-style-type: none;
   display: none;
}
.menu-item {
   padding: 16px;
}
.dropdown:hover .menu-list {
   display: block;
}
.menu-item:hover{
   background-color:ghostwhite;
}