.container {
   display: flex;
   justify-content: center;
   align-content: center;
   width: 100vw;
   height: 100vh;
}

.spinner {
   font-family: monospace;
   font-size: 16px;
   text-transform: uppercase;
}
.spinner-text {
   animation: blinking 2s infinite linear;
}
.rect {
   background-color: black;
   width: 10px;
   height: 4px;
   border-radius: 2px;
   animation: moving 2s infinite alternate;
   animation: blinking 2s infinite alternate;
}